<template>
  <ion-page>
    <ion-content :fullscreen="true">
      <ion-header collapse="condense">
        <ion-toolbar>
         
        </ion-toolbar>
      </ion-header>

      <ion-grid>

          <ion-row>
          <ion-col>
            <ion-label position="stacked"><ion-icon :icon="moon" />Dark mode</ion-label>
            <ion-toggle color="warning" @ionChange="darkMode($event)" id="dark" ></ion-toggle>
          </ion-col>
        </ion-row>
         

        <ion-row>
          <ion-col>
            <ion-slides>
              <ion-slide v-for="items in creditCards" :key="items.tarjetaTipo" pager="true" :options="slideOpt">
                <div class="slide">
                  <h5> {{ items.nombre }} -- {{ items.tarjetaTipo }}</h5>
                  <img class="tarjetas" :src= items.src />
                </div>
              </ion-slide>
            </ion-slides>  
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size=7>
            <ion-chip color="medium"  @click="showNumber($event)">
              <ion-icon :icon="copyOutline" color="dark"></ion-icon>
              <ion-label  color="primary">Copy card number</ion-label>
            </ion-chip>
          </ion-col>
          <ion-col >
            <ion-chip  color="medium"  @click="showCvv($event)">
              <ion-icon :icon="keyOutline" color="dark"></ion-icon>
              <ion-label  color="primary">Show CVV</ion-label>
            </ion-chip>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <h5>YOUR MONEY</h5>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <p id="totalMoney">${{ money }},00</p>
          </ion-col>
          
          <ion-col>
            <ion-icon size="4" class="bigger" :icon="logOutOutline"></ion-icon>
          </ion-col>

        </ion-row>

        <ion-row>
          <ion-col>
            <p>MONEY SPENT</p>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <circle-progress :percent="50" border-width=15 fill-color="#DCDCDC" empty-color="#696969" /> 
             <h2 id="balanceOne">$208,00</h2>
          </ion-col>
          <ion-col>
            <circle-progress :percent="70"  border-width=15 fill-color="#DCDCDC" empty-color="#696969" :is-gradient="true" 
              :gradient="{
                  angle: 90,
                  startColor: '#01B6FF',
                  stopColor: '#005476'
              }"
            /> 
            <h2 id="balanceTwo">$328,00</h2>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <p class="ion-text-center" id="balanceTwoLabel">LAST MONTH</p>
          </ion-col>
          <ion-col>
            <p class="ion-text-center"  id="balanceTwoLabel">THIS MONTH</p>
          </ion-col>
        </ion-row>
      </ion-grid>
      
    </ion-content>
  </ion-page>
</template>

<style>

  

  @font-face {
    font-family: AppFont;
    src: url("../../public/assets/PTSansNarrow-Regular.ttf");
  }
  :root {
    --ion-font-family: ‘AppFont’;
  }

  #totalMoney{
    font-size: 40px;
    margin-top: 16px;
  }
  .bigger { 
   zoom: 3.5;
   background: rgb(2,0,36);
   background: linear-gradient(169deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
   border-radius: 10px;
   padding: 2px;
   margin-left: 20px;
   margin-top: 0px;

  }
  ion-icon { 
    zoom: 1.5
  }
  #balanceOne{
    margin: auto;
    position: absolute;
    top: 78px;
    left: 44px;
    bottom: 0;
    right: 0;
  
  }
  #balanceTwo{
    margin: auto;
    position: absolute;
    top: 78px;
    left: 44px;
    bottom: 0;
    right: 0;
  
  }

  .tarjetas{
    box-shadow: 0 2px 38px 0 #50c8ff, 0 6px 20px 0 rgb(0 0 0 / 19%);
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: 90% !important;
  }
</style>

<script lang="ts">
import { IonPage, IonHeader, IonToolbar, IonContent, IonSlide, IonSlides, IonIcon, toastController, IonToggle } from '@ionic/vue';
import { copyOutline, keyOutline,logOutOutline, moon } from 'ionicons/icons'
import "vue3-circle-progress/dist/circle-progress.css";
import CircleProgress from "vue3-circle-progress";

export default  {
  name: 'Tab2',
  components: { IonHeader, IonToolbar,  IonContent, IonPage, IonSlide, IonSlides, IonIcon, CircleProgress, IonToggle },
  setup(){
    //DARKMODE
    const darkMode = (event) =>{
      console.log(event);
    if(event.detail.checked){
      document.body.classList.add("dark");  
    }
    else{
      document.body.classList.remove("dark");
    }
     
      
    };

    const creditCards = [{
      'tarjetaTipo' : 'BLACK',
      'src' : 'assets/creditCard2.png',
      'nombre' : 'ANGEL DANIEL DZIB CHAN'
      },
      {
        'tarjetaTipo' : 'CLASICA',
        'src' : 'assets/creditCard1.png',
        'nombre' : 'ANGEL DANIEL DZIB CHAN'
      }
    ];

    const money = "898";

    const slideOpt = {
      initialSlide: 1,
      speed: 400
    }
    return {
      creditCards,
      slideOpt,
      copyOutline,
      keyOutline,
      logOutOutline,
      money,
      CircleProgress,
      moon,
      darkMode,
      IonToggle
    };
  },
  methods : {

    async showNumber(event) {
     
      const mensaje = "Numero copiado";

      const toast = await toastController
        .create({
          message: mensaje,
          duration: 2000
        })
      return toast.present();
    },

     async showCvv(event) {
      const mensaje = "CVV generado dinámicamente: " + Math.floor(1000 * Math.random());
     
      const toast = await toastController
        .create({
          message: mensaje,
          duration: 2000
        })
      return toast.present();
    },
   
    


  }
}
</script>