<template>
  <ion-page>
    <ion-header>
      <ion-toolbar>
        <ion-title>Chat</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content :fullscreen="true">
      <ion-header collapse="condense">
        <ion-toolbar>
 
        </ion-toolbar>
      </ion-header>
      
        <img src="assets/under.png" alt="" srcset="">
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import { IonPage, IonHeader, IonToolbar, IonTitle, IonContent } from '@ionic/vue';


export default  {
  name: 'Tab4',
  components: { IonHeader, IonToolbar, IonTitle, IonContent, IonPage }
}
</script>