<template>
  <ion-app>
    <ion-router-outlet />
  </ion-app>
</template>

<script lang="ts">
import { IonApp, IonRouterOutlet } from '@ionic/vue';
import { defineComponent } from 'vue';



/*************************************************************************************/
/**************DEFINIR DARK MODE AL INICIO DE LA EJECUCIÓN DEL SISTEMA ***************/
/*************************************************************************************/





export default defineComponent({
  name: 'App',
  components: {
    IonApp,
    IonRouterOutlet
  }
});
</script>